:7860 {
    # Proxy API and Websocket requests without stripping the URL paths
    reverse_proxy /_event* localhost:8000
    reverse_proxy /ping* localhost:8000
    reverse_proxy /_upload* localhost:8000
    
    # Proxy all other standard HTTP traffic to the React JS frontend
    reverse_proxy * localhost:3000
}
